/* variables */
:root{
  --primary: #E4E9FF;
  --secondary: #001e62;
  --test:gold;
}

/* resets */

*{
    margin:0;
    padding:0;
}

li {
    list-style-type: none;
}

body,p,a,ul,li{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
  max-width: 100%;
}
video{
  max-width: 100%;
}

/*Fonts*/

@font-face{

    font-family: "DMSans";
    src: url(/assets/fonts/DMSans-Bold.ttf)
 
}

/*Constants*/

/*body is using an image bg that was sourced from freepik.com color is set to primary
I have updated back ground color for now. Not happy with shade of blue in image*/
body{
  background-color: #0a0f5f;
  color: var(--primary);
  font-family: "DMSans", Helvetica, sans-serif;
}

p,a,i,h4{
  color: #CF9FFF;
}

a:hover{
  color:var(--test);
}

video{
  border-radius: 2%;
  max-width: 67%;
}

input, input[type="text"], textarea{
  background:rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 18px;
  border: 1px solid var(--test);
}

h1,h3{
  font-size:1.2em;
}

h2{
  font-size:1.6em;
}

h4{
  font-size:1.1em;
}

li > i{
  font-size: 4em;
}

footer {
  padding: 10px 0;

}

/*CLASSES*/
.menu{
  display: none;
}

.mynameis{
  color: #08a6e6;
}


.social-icons li i:hover{
    color:var(--test);
  }

.button{
  background: none;
  color: var(--test);
  border: 2px solid var(--test);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px;
}

.button_noborder{
  background: none;
  color: var(--test);
  padding: 6px 12px;
  border-radius: 18px;
  text-transform: uppercase;
  display: inline-block;
}

.button:hover{
  color: var(--primary);
  background: var(--secondary);
}

.about_button{
  text-align: center;
  font-size: 0.7em;
} 

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.skills{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding-top: 10px;
}

.skills li:nth-child(1){
  grid-column: 1/3;
  grid-row: 1;
}

.skills li:nth-child(2){
  grid-column: 3/5;
  grid-row: 1;
  
}

.skills li:nth-child(3){
  grid-column: 2/4;
  grid-row: 2;
}

.skills li i{
  font-size: 7em;
}

.skills li h4{
  text-align: center;
}

.grid img{
  height: 8em;
  width: 8em;
  display: inline-block;
  border-radius: 50%;
}

.logo{
  grid-column: 1/3;
  color:var(--primary);
  border-bottom: 2px solid var(--test);
  padding-bottom: 2px;
}

.passions{
  text-align: center;
  padding: 10px 25px 10px 0;
}

.passions li{
  font-size: 0.8em;
}

.about_me_button{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}

.social-icons{
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.social-icons li{
text-align: center;
font-size: 2em;
}

.copyright{
  text-align: center;
  display: block;
  font-style: italic;
}

.button-top{
  position: fixed;
  right: 0.5rem;
  bottom: 2rem;
  font-size: 2em;
  display: none;
}


/*ID's*/
#home{
  margin: 0 15px;
  padding: 0 0 10px 0;
}
#intro{
  margin: 15px;
}

#intro h3{
  font-size: 5em;
}

#resume{
  padding-bottom: 15px;
}

#resume h2{
  padding: 15px 10px;
}

#resume .grid div{
  padding:5px;
  grid-column: 1/4;
  display: flex;
}

#resume .grid div *{
  max-width: 40%;
  align-self: center;
  margin: 0 10px;
}

#love_running{
  padding-top: 10px;
  padding-bottom: 25px;
}

#love_running h2{
  padding-bottom: 10px;
}

#love_running img{
  border: 2px solid var(--test);
  max-width: 99%;
}

#love_running h4{
  text-align: center;
  font-style: italic;
}

#contact_form *{
  padding-left: 5px;
}

#contact_form input{
  margin-bottom: 5%;
  width:88%;
}

#contact_form .files{
width: auto;
}

#contact_form .formbutton{
  width: auto;
}

/*Default CSS layout for narrow screens*/

@media (min-width: 620px) {
    /*CSS for medium width screens*/
  }
  
  @media (min-width: 960px) {
    /*CSS for wide screens*/
    body{
      font-size:18px;
    }
  }
  
  @media (min-width: 1200px) {
    /*CSS for really wide screens*/
    body{
      font-size: 20px;
    }
  }