/* variables */
:root{
  --primary: #E4E9FF;
  --secondary: #001e62;
  --test:gold;
}

/* resets */

*{
    margin:0;
    padding:0;
}

li {
    list-style-type: none;
}

body,p,a,ul,li{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
  max-height: 100%;
  max-width: 100%;
}

/*Fonts*/

@font-face{

    font-family: 'DMSans';
    src: url(/assets/fonts/DMSans-Bold.ttf)
 
}

/*Constants*/

/*body is using an image bg that was sourced from freepik.com color is set to primary
I have updated back ground color for now. Not happy with shade of blue in image*/
body{
  background-color: #0a0f5f;
  color: var(--primary);
  font-family: 'DMSans';
}

p,a,li,i{
  color: #CF9FFF;
}

a:hover{
  color:var(--test);
}

input, input[type="text"], textarea{
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 18px;
  border: 1px solid var(--test);
}

h1,h3{
  font-size:1.2em;
}

h2{
  font-size:1.6em;
}

h4{
  font-size:1.1em;
}

li > i{
  font-size: 4em;
}

/*CLASSES*/
.menu{
  display: none;
}

.social-icons li i:hover{
    color:var(--test);
  }

.button{
  background: none;
  color: var(--test);
  border: 2px solid var(--test);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.button_noborder{
  background: none;
  color: var(--test);
  padding: 6px 12px;
  border-radius: 18px;
  text-transform: uppercase;
  display: inline-block;
}

.button:hover{
  color: var(--primary);
  background: var(--secondary);
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.social-icons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.logo{
  grid-column: 1/3;
  color:var(--primary);
  border-bottom: 2px solid var(--test);
  padding-bottom: 2px;
}

/*ID's*/
#home{
  margin: 0 15px;
  padding: 0 0 10px 0;
}

/*Default CSS layout for narrow screens*/

@media (min-width: 620px) {
    /*CSS for medium width screens*/
  }
  
  @media (min-width: 960px) {
    /*CSS for wide screens*/
    body{
      font-size:18px;
    }
  }
  
  @media (min-width: 1200px) {
    /*CSS for really wide screens*/
    body{
      font-size: 20px;
    }
  }